*~
*.jou
*.log
/*
!.gitignore
!*/
!*.xdc
!*.xpr
!*.xci
!*.bd
!*.bda
!*.ui
!*.dcp
!*_wrapper.v
!src/**
!vrf/**

# added by anthony
!/device/
!/device/*
/device/*~
!/submodules/
!/submodules/*
!/mem_map/