*~
*.jou
*.log
/*
!.gitignore
!*/


# Vivado related
!*.xdc
!*.xpr
!*.xci
!*.bd
!*.bda
!*.ui
!*.dcp
!*_wrapper.v
!src/**
!vrf/**
vivado/cms_pix_28_test_firmware.cache/*
vivado/cms_pix_28_test_firmware.gen/*
vivado/cms_pix_28_test_firmware.runs/*


# Xcelium related
xcelium.d/*
waves.shm/*
.simvision/*


# DVT related
.dvt/.profiling/*


# added by anthony
!/device/
!/device/*
/device/*~
!/submodules/
!/submodules/*
!/mem_map/